.form__input {
    font-family: 'Jua', 'sans-serif';
    font-size: 2rem;
}

.form__input__field {
    background-color: #562407;
    border-radius: 4rem;
    padding-top: 0.65rem;
    padding-left: 12rem;
    font-family: 'Jua', 'sans-serif';
    font-size: 2rem;
}
